<div class="confirmation-container" *ngIf="bookingDetails">
  <h2>🎉 Booking Confirmed!</h2>
  <p><strong>Name:</strong> {{ bookingDetails.userName }}</p>
  <p><strong>Phone:</strong> {{ bookingDetails.phone }}</p>
  <p><strong>Bus:</strong> {{ bookingDetails.busName }}</p>
  <p><strong>Seats:</strong> {{ bookingDetails.seatNumbers.join(', ') }}</p>
   <p><strong>From:</strong> {{ bookingDetails.from }}</p>
  <p><strong>To:</strong> {{ bookingDetails.to }}</p>
  <p><strong>Date:</strong> {{ bookingDetails.date }}</p>
    <p><strong>Time:</strong> {{ bookingDetails.busTime }}</p>
    <p><strong>Price:</strong> {{ bookingDetails.busPrice * bookingDetails.seatNumbers.length }}</p>
  <p><strong>Payment Method:</strong> {{ bookingDetails.paymentMethod }}</p>
</div>


